node_modules
**/node_modules
npm-debug.log*
Dockerfile*
docker-compose*.yml
.git
.gitignore
.env
.env.*
!.env.example
**/dist
**/build
coverage
**/coverage
generated
**/generated
runs
.vscode
.idea
.DS_Store
Thumbs.db
