@use './reset';
@use './variables';

body {
  min-width: 320px;
  background: #f4f6fb;
  color: #111827;
  text-rendering: optimizeLegibility;
}

* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}
